#Define servers for the two master shards
[shard1-master]
type=server
address=master1
port=3306
protocol=MariaDBBackend

[shard2-master]
type=server
address=master2
port=3306
protocol=MariaDBBackend

# Define servers for the slave databases of each shard
# Monitor for the servers
[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=shard1-master,shard2-master
user=maxuser
password=maxpwd
auto_failover=true
auto_rejoin=true
enforce_read_only_slaves=1

[Sharded-Service]
type=service
router=schemarouter
servers=shard1-master,shard2-master
user=maxuser
password=maxpwd

[Sharded-Service-Listener]
type=listener
service=Sharded-Service
protocol=MariaDBClient
port=4000

# Service definitions
# Service Definition for a read-only service and a read/write splitting service.
[Read-Only-Service]
type=service
router=readconnroute
servers=shard1-master,shard2-master
user=maxuser
password=maxpwd
router_options=slave

[Read-Write-Service]
type=service
router=readwritesplit
servers=shard1-master,shard2-master
user=maxuser
password=maxpwd
master_failure_mode=fail_on_write

# Listener definitions for the services
[Read-Only-Listener]
type=listener
service=Read-Only-Service
protocol=MySQLClient
port=4008

[Read-Write-Listener]
type=listener
service=Read-Write-Service
protocol=MySQLClient
port=4006